@import '../../assets/styles/colors.scss';

.todo-item-wrapper {
    border-bottom: 2px solid $dark-purple;
    border-radius: 3px;
    padding: 5px;
    .todo-item {
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        text-shadow: $general-text-shadow;
        .form-check-input{
            margin-right: 10px;
        }
        .form-check-label {
            max-width: 245px;
            text-decoration: line-through;
            color: $checked-text;
            text-shadow: $checked-text-shadow;
        }
        .form-label {
            max-width: 245px;
        }
        .edit-button {
            height: 25px;
            width: 25px;
            border: none;
            border-radius: 3px;
            background-color: $black;
            color: $white;
            margin-left: auto;
            padding: 3px;
            cursor: pointer;
            transition: 0.4s;
            background: transparent;
            background-image: url(../../media/pencil-outline.png);
            &:hover {
                border: none;
                background-color: $light-purple;
                border-radius: 3px;
            }
        }
        .cancel-button {
            height: 25px;
            width: 25px;
            padding: 3px;
            align-items: center;
            border-radius: 3px;
            transition: 0.4s;
            border: none;
            background: transparent;
            background-image: url(../../media/deleteforeveroutline.png);
            color: $white;
            margin: 8px 2px;
            cursor: pointer;
            &:hover {
                background-color: $light-purple;
                border-radius: 3px;
            }
        }
    }
    .edit-field {
        display: flex;
        align-items: baseline;
        .edit-submit {
            align-self: center;
            height: 25px;
            width: 25px;
            border: none;
            border-radius: 3px;
            background-color: $black;
            color: $white;
            margin-left: auto;
            padding: 3px;
            cursor: pointer;
            transition: 0.4s;
            background: transparent;
            background-image: url(../../media/check.png);
            &:hover {
                border: none;
                background-color: $light-purple;
                border-radius: 3px;
            }
        }
    } 
}