@import '../../assets/styles/colors.scss';

.todo-item-wrapper {
    border-bottom: 2px solid #8a02c0;
    border-radius: 3px;
    padding: 5px;
    .todo-item {
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        text-shadow: $text-shadow-nonchecked;
        .form-check-input{
            margin-right: 10px;
        }
        .form-check-label {
            text-decoration: line-through;
            color: $checked-text;
            text-shadow: $text-shadow-checked;
        }
        .edit-button {
            height: 25px;
            width: 25px;
            border: none;
            border-bottom: 2px solid #8a02c0;
            border-radius: 3px;
            background-color: #000;
            color: $input-btn;
            margin-left: auto;
            padding: 3px;
            cursor: pointer;
            transition: 0.4s;
            background: transparent;
            background-image: url(../../media/pencil-outline.png);
            &:hover {
                border: none;
                border-bottom: 2px solid #8a02c0;
                background-color: #bc13fe;
                border-radius: 3px;
            }
        }
        .cancel-button {
            height: 25px;
            width: 25px;
            padding: 3px;
            align-items: center;
            border-radius: 3px;
            transition: 0.4s;
            border: none;
            border-bottom: 2px solid #8a02c0;
            background: transparent;
            background-image: url(../../media/deleteforeveroutline.png);
            color: $input-btn;
            margin: 8px 2px;
            cursor: pointer;
            &:hover {
                border-bottom: 2px solid #8a02c0;
                background-color: #bc13fe;
                border-radius: 3px;
            }
        }
    }
    .edit-field {
        font-size: 0.7rem;
        display: flex;
        align-items: baseline;
        text-shadow: $text-shadow-nonchecked;
        .edit-input {
            color: #000;
            font-family: 'Press Start 2P', cursive;
            width: 90%;
            padding: 15px 0 10px 10px;
            text-transform: uppercase;
            outline: 0;
            border: none;
            border-bottom: 2px solid #8a02c0;
            border-radius: 3px;
            background: transparent;
            text-shadow: $text-shadow-nonchecked;
            box-sizing: border-box;
        } 
        .edit-submit {
            height: 25px;
            width: 25px;
            border: none;
            border-bottom: 2px solid #8a02c0;
            border-radius: 3px;
            background-color: #000;
            color: $input-btn;
            margin-left: auto;
            padding: 3px;
            cursor: pointer;
            transition: 0.4s;
            background: transparent;
            background-image: url(../../media/check.png);
            &:hover {
                border: none;
                border-bottom: 2px solid #8a02c0;
                background-color: #bc13fe;
                border-radius: 3px;
            }
        }
    } 
}