.wrapper {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto;
    width: 350px;
    margin-top: 15%;
    -webkit-box-shadow: 15px 13px 37px 7px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 15px 13px 37px 7px rgba(0, 0, 0, 0.23);
    box-shadow: 15px 13px 37px 7px rgba(0, 0, 0, 0.23);
}
.input-wrapper {
  display: flex;
  margin-bottom: 20px;
}
input[type=text]:focus {
    text-transform: uppercase;
    border: 2px solid lightgray;
    border-radius: 5px;
}
input[type=text] {
    font-family: 'Press Start 2P', cursive;
    width: 78%;
    padding: 12px 20px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.todo-wrapper {
  font-size: 1rem;
  transition: 0.4s;
  display: flex;
  border-bottom: 2px solid rgb(172, 167, 167);
  border-radius: 5px;
  align-items: center;
  color: #fff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px #fff,
  0 0 10px rgb(0, 204, 255),
  0 0 45px rgb(0, 204, 255),
  0 0 55px rgb(0, 204, 255),
  0 0 70px rgb(0, 204, 255),
  0 0 80px rgb(0, 204, 255);
}

.cancel-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.4s;
    border: 2px solid rgb(172, 167, 167);
    padding: 5px;
    text-align: center;
    font-size: 13px;
    margin: 8px 2px;
    margin-left: auto;
    cursor: pointer;
}
.cancel-button:hover {
  background-color: rgb(141, 139, 139);
}
.button-input {
  border: 2px solid rgb(139, 139, 139);
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  transition: 0.4s;
  padding: 13px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin-left: auto;
  cursor: pointer;
}
.button-input:hover {
  border: 2px solid #8a02c0;
  background-color: #bc13fe;
  border-radius: 5px;
}

.todo-counter {
  margin-top: 15px;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px rgb(0, 204, 255),
  0 0 82px rgb(0, 204, 255),
  0 0 92px rgb(0, 204, 255),
  0 0 102px rgb(0, 204, 255),
  0 0 151px rgb(0, 204, 255);
}

.form-check-label {
  text-decoration: line-through;
  color: rgb(250, 0, 0);
}