@import './assets/styles/colors.scss';

.wrapper {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto;
    width: 350px;
    margin-top: 15%;
}




