.wrapper {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto;
    width: 350px;
    margin-top: 15%;
    -webkit-box-shadow: 15px 13px 37px 7px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 15px 13px 37px 7px rgba(0, 0, 0, 0.23);
    box-shadow: 15px 13px 37px 7px rgba(0, 0, 0, 0.23);
}
.input-wrapper {
  display: flex;
  margin-bottom: 20px;
}
input[type=text]:focus {
    text-transform: uppercase;
    border: 2px solid lightgray;
    border-radius: 5px;
}
input[type=text] {
    font-family: 'Press Start 2P', cursive;
    width: 78%;
    padding: 12px 20px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.todo-wrapper {
  overflow: scroll;
  max-height: 132px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none
}
.todo-item {
  font-size: 0.7rem;
  display: flex;
  border-bottom: 2px solid rgb(172, 167, 167);
  border-radius: 5px;
  align-items: center;
  text-shadow:
  0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px #fff,
  0 0 10px rgb(0, 204, 255),
  0 0 25px rgb(0, 204, 255),
  0 0 15px rgb(0, 204, 255),
  0 0 20px rgb(0, 204, 255),
  0 0 20px rgb(0, 204, 255);
}
.todo-item a {
  margin-left: auto;
}

.edit-button {
  border: 2px solid #8a02c0;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  margin-left: auto;
  padding: 3px;
  cursor: pointer;
}
.edit-button:hover {
  border: 2px solid #8a02c0;
  background-color: #bc13fe;
  border-radius: 5px;
}
.cancel-button {
    width: 26px;
    padding: 3px;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s;
    border: 2px solid #8a02c0;
    background-color: #000;
    color: #fff;
    margin: 8px 2px;
    cursor: pointer;
}
.cancel-button:hover {
  border: 2px solid #8a02c0;
  background-color: #bc13fe;
  border-radius: 5px;
}
.button-input {
  background-color: #000;
  color: #fff;
  border: 2px solid #8a02c0;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  transition: 0.4s;
  padding: 13px 18px;
  font-size: 11px;
  margin-left: auto;
  cursor: pointer;
}
.button-input:hover {
  border: 2px solid #8a02c0;
  background-color: #bc13fe;
  border-radius: 5px;
}

.todo-counter {
  margin-top: 15px;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  text-shadow:
  0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px #fff,
  0 0 10px rgb(0, 4, 255),
  0 0 25px rgb(0, 255, 98),
  0 0 15px rgb(0, 255, 98),
  0 0 20px rgb(0, 255, 98),
  0 0 20px rgb(0, 255, 98);
}

.form-check-label {
  text-decoration: line-through;
  color: rgb(250, 0, 0);
  text-shadow:
  0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px #fff,
  0 0 10px rgb(250, 0, 0),
  0 0 25px rgb(250, 0, 0),
  0 0 15px rgb(250, 0, 0),
  0 0 20px rgb(250, 0, 0),
  0 0 20px rgb(250, 0, 0);
}

.form-check-input{
  margin-right: 10px;
}