$cyan-neon-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #00cccd,
    0 0 25px #00cccd,
    0 0 15px #00cccd,
    0 0 20px #00cccd,
    0 0 20px #00cccd;

$red-neon-shadow: 
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #fa0000,
    0 0 25px #fa0000,
    0 0 15px #fa0000,
    0 0 20px #fa0000,
    0 0 20px #fa0000;

$green-neon-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #00f910,
    0 0 25px #00f910,
    0 0 15px #00f910,
    0 0 20px #00f910,
    0 0 20px #00f910;

$checked-text: #fa0000;

$dark-purple: #8a02c0;
$light-purple: #bc13fe;

$black: #000;
$white: #fff;

