$general-text-shadow:
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 8px #00bfff,
    0 0 10px #00bfff,
    0 0 10px #00bfff,
    0 0 15px #00bfff,
    0 0 15px #00bfff;

$checked-text-shadow: 
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 8px #fa0000,
    0 0 10px #fa0000,
    0 0 10px #fa0000,
    0 0 15px #fa0000,
    0 0 15px #fa0000;

$todo-counter-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #ffbb02,
    0 0 25px #ffbb02,
    0 0 15px #ffbb02,
    0 0 20px #ffbb02,
    0 0 20px #ffbb02;

$checked-text: #fa0000;

$dark-purple: #8a02c0;
$light-purple: #bc13fe;

$black: #000;
$white: #fff;

